div.bsi-error {
  background-color: red;
}

div.bsi-failed {
  background-color: lightcoral;
}

div.bsi-passed {
  background-color: lightgray;
}

th.bsi {
  text-align: left;
}

td.bsi {
  text-align: right;
}
