<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSI results for {{ tested_file }}</title>
    <link rel="stylesheet" href="jinja_templates/css/styles.css">
    <link rel="stylesheet" href="jinja_templates/css/bsi_styles.css">
</head>
<body class="bsi">
    <h3>Input file: {{ tested_file }}</h3>
    {% for res in list_of_results:%}
    <div class="bsi">
        <h4 class="bsi">Test: {{ res.test_name }}</h4>
        <table class="bsi">
            <tr class="bsi">
                <th class="bsi">Error</th>
                <td class="bsi">{{ res.has_error }}</td>
            </tr>
            <tr class="bsi">
                <th class="bsi">Failed runs</th>
                <td class="bsi">{{ res.num_failures }}</td>
            </tr>
            <tr class="bsi">
                <th class="bsi">Runs</th>
                <td class="bsi">{{ res.num_runs }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>